*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: $backcolor1;
}

button{
  border:none;
}

a{
  text-decoration: none;
  color:$textcolorPar;
}

@for $i from 1 through 10 {
  $wid:10% * $i;
  .wd-#{$i} {
    max-width: $wid;
    margin:0 auto;
  }
}

$j: 5;

@while $j <= 100 {
  .mrg-#{$j}{
    margin: 1px * $j;
  }
  .mrg-l-#{$j}{
    margin-left: 1px * $j;
  }
  .mrg-r-#{$j}{
    margin-right: 1px * $j;
  }
  .mrg-t-#{$j}{
    margin-top: 1px * $j;
  }
  .mrg-b-#{$j}{
    margin-bottom: 1px * $j;
  }
  .pdg-#{$j}{
  padding : 1px * $j;
  }
  .pdg-x-#{$j}{
    padding-left: 1px *$j;
    padding-right:  1px *$j;
  }
  .pdg-y-#{$j}{
    padding-top : 1px * $j;
    padding-bottom : 1px * $j;
  }
  $j: $j+5
}
