@mixin headborder{
  border-bottom:solid 1px $textcolorTtl;
}

@mixin automargin{
  margin:0 auto;
}

@mixin flexspcbetween{
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
}

@mixin flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexcolumn{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexspc{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

@mixin flexcolumnend{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin socialbtn{
  @include flexspc;
  background-color: $btnback;
  color:$textcolorPar;
  border-radius: 5px;
  img{
    max-width: 10%;
  }
}
 @mixin flexstart{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
 }
