@mixin headborder{
  border-bottom:solid 1px $textcolorTtl;
}

@mixin automargin{
  margin:0 auto;
}

@mixin flexspcbetween{
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
}

@mixin flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexcolumn{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexspc{
  display: flex;
  align-items: center;
  justify-content: center;
}
