//COLORS

$backcolor1 : #4466d4;
$backcolor2 : #0e14ee;
$btnback : #7f14d4;
$textcolorTtl:#040f0f;
$textcolorPar:#040000;


//DIMENSIONS

$headerHeight:150px;
$navFontSize : 18px;
$jumboFontSize:60px;
